:root {
    --principal-color: rgb(59, 139, 96);
    --secondary-color: rgb(4, 109, 55);
    --grey-color: rgb(183, 186, 184);
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

#wallpaper {
    position: fixed;
    top: 0;
    left: 0;
    z-index: -1;
    width: 100%;
}

#div-cv {
    background-color: rgba(255, 255, 255, 0.9);
    display: flex;
    flex-direction: column;
    width: 820px;
    margin: 40px auto;
    padding: 20px;
    box-shadow: 0 0 9px 9px rgba(255, 255, 255, 0.9);
}

header {
    display: grid;
    grid-template-rows: repeat(2, 2fr);
}

h1 {
    text-align: center;
    padding: 0;
    margin: 0 0 20px 0;
}

h2,
h5 {
    margin: 15px 0 8px 0;
}

#nav-ul {
    display: flex;
    flex-direction: row;
    gap: 20px;
    list-style-type: none;
    background-color: var(--principal-color);
    padding: 3px 0;
}

main {
    display: grid;
    grid-template-columns: 1fr 3fr;
}

#left-div {
    background-color: var(--principal-color);
    display: flex;
    flex-direction: column-reverse;
    justify-content: space-between;
    text-align: center;
    gap: 20px;
    padding: 20px;
}

.text-div-left {
    text-align: left;
    display: flex;
    flex-direction: column;
    gap: 3px;
}

#right-div {
    margin: 0 0 0 15px;
}

a {
    color: white;
}

.a-nav:hover {
    padding: 5px 0;
    transform: 2s;
}

.a-nav {
    text-decoration: none;
    transition: 0.3s;
}

li {
    margin: 0 0 0 20px;
}

hr {
    margin: 10px 0;
}

footer {
    margin: 30px 0 0 0;
    background-color: var(--grey-color);
    height: 40px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    text-align: center;
    align-items: center;

    /* justify-content: space-around;
    align-items: center; */
}

.a-footer {
    color: var(--principal-color);
}

.a-footer:hover {
    font-size: 1.1rem;
    color: var(--secondary-color);
    transition: 0.3s;
}